* {
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
body{
    background-color: #181818;
    width: 100%;
    height: 100vh;
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.menu-bar{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    background-color: rgba(0, 255, 8, 0.824);
    height: 50px;
}
.button-pageMy{
    background-color: #3eb73b;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 10px;
    border: 0;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    left: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}
.button-pageMy:hover{
    transform: scale(1.05);
}
.button-pageContact{
    background-color: #3eb73b;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 10px;
    border: 0;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    right: 120px;
    cursor: pointer;
    transition: transform 0.5s;
}
.button-pageContact:hover{
    transform: scale(1.05);
}
.button-home{
    background-color: #3eb73b;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 10px;
    border: 0;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    right: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}
.button-home:hover{
    transform: scale(1.05);
}
.buttons-menu a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

.section-perfil {
   margin: 0 auto;
}

.perfil img {
    position: absolute;
    top: 90px;
    border-radius: 150px;
    width: 150px;
    left: 10px;
}

.namePerfil {
    position: absolute;
    background-color: rgba(0,0,0, 0.40);
    width: 400px;
    padding-top: 10px;
    border-radius: 25px;
    border:  1px solid #313131;
    cursor: pointer;
    color: #fff;
    left: 200px;
    top: 120px;
    text-align: center;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.section-namePerfil div div:hover > div {
    background-color: #384459;
    position: absolute;
    width: 430px;
    padding-top: 10px;
    border-radius: 25px;
    border:  1px solid #313131;
    cursor: pointer;
    color: #fff;
    top: 0px;
    left: -15px;
    text-align: center;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    
}

.namePerfil p {
    padding: 10px 7px;  
}

h1 a {
    color: #fff;
    text-decoration: none;
}

.table-github {
    align-items: center;
}

.container-about {
    color: #fff;
}

.title {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.text {
    padding-bottom: 30px;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.container-about:hover .text {
    visibility: visible;
    bottom: 50px;
    opacity: 1;
    transform: scale(1.05);
    text-align: justify;
}


.salesCard {
    background-color: #283142;
    border-radius: 10px;
    padding: 20px 50px;
    width: 700px;
    left: 20px;
    bottom: 150px;
    position: absolute;
}

.table-email img {
    width: 100px;
    padding-top: 10px;
}

.JumpMario {
    position: absolute;
    width: 300px;
    top: 250px;
    right: 60px;
    border: 1px solid #fff;
    transition: transform 0.5s;
}

.JumpMario:hover {
    transform: scale(1.05);
}

.DSMeta {
    position: absolute;
    width: 300px;
    bottom: 150px;
    right: 60px;
    border: 1px solid #fff;
    transition: transform 0.5s;
}

.DSMeta:hover {
    transform: scale(1.05);
}
